<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Javy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Javy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Javy.Properties.Settings>
            <setting name="TilesetsUrl" serializeAs="String">
                <value>http://www.informatik-braunschweig.de/Leveleditor/?action=get_xml</value>
            </setting>
        </Javy.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Javy.Properties.Settings>
            <setting name="wtkDirectory" serializeAs="String">
                <value>C:\Programme\wtk25\</value>
            </setting>
            <setting name="PathToMaps" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToTilesets" serializeAs="String">
                <value />
            </setting>
            <setting name="EditorMdiClientSize" serializeAs="String">
                <value>743, 551</value>
            </setting>
            <setting name="EditorMdiStartPosition" serializeAs="String">
                <value>WindowsDefaultLocation</value>
            </setting>
        </Javy.Properties.Settings>
    </userSettings>
</configuration>