<?xml version="1.0" encoding="utf-8"?>
<!--Javy Leveleditor Tileset Configuration File-->
<!--This file stores all mapped tilesets for the editor.-->
<TilesetConfiguration FormatVersion="1.0">
  <TilesetsList Count="1">
    <Tileset Index="0" Path="F:\Javy\Tilesets\0.png" />
  </TilesetsList>
</TilesetConfiguration>